<div class="container bg-white">
	<div class="fade-out">
	<div class="clearfix">
		<div class="fitfinder-mobile-nav">
			<div class="fitfinder-mobile-number fitfinder-mobile-number-four"></div>
			<%= image_tag('ff-mobile-q-3.png') %>
		</div>
		<div class="twelve columns model-container model-container-top">
			<%= image_tag('fit-step3-a.png', :class => "slide-in-left model-img model-img-a model-img-show") %>
			<%= image_tag('fit-step3-b.png', :class => "slide-in-left model-img model-img-b") %>
			<%= image_tag('fit-step3-c.png', :class => "slide-in-left model-img model-img-c") %>
		</div>
	</div>
	<div class="ten columns step-question l-center mobile-hide">
		<%= image_tag('fitfinder-step-3.png') %>
	</div>
	<div class="eight columns l-center">
		<form class="step-form radio-bg radio-bg-horz radio-bg-horz-3 clearfix">
			<div class="radio-label radio-label-g2 two columns omega" data-button="radio-1">No, it's comfortable</div>
			<input id="radio-1" name="1" type="radio" data-img="a" data-band="0" data-cup="0" checked>
			<input id="radio-2" name="1" type="radio" data-img="b" data-band="1" data-cup="0">
			<div class="radio-label radio-label-p1 four columns alpha omega" data-button="radio-2">A little bit</div>
			<input id="radio-3" name="1" type="radio" data-img="c" data-band="2" data-cup="0">
			<div class="radio-label radio-label-p3 two columns alpha" data-button="radio-3">It's way too tight!</div>
		
			<button class="button step-submit" type="submit">Next<div class="button-tag button-tag-right button-tag-pink"></div></button>
		</form>
	</div>
	<div class="l-full clearfix fit-tip">
		<div class="alpha seven columns l-center">
			<%= image_tag('fit-tip.png') %>
			<p>Impairing circulation in the breast tissue can cause health problems (not to mentions its uncomfortable!) The band should be snug, but not constricting.</p>
		</div>
	</div>
	<a class="button step-back" href="#"><div class="button-tag button-tag-right button-tag-green"></div>Prev</a>
	</div>
</div>