<div class="container bg-white">
	<div class="fade-out">
	<div class="fitfinder-mobile-nav">
		<div class="fitfinder-mobile-number fitfinder-mobile-number-nine"></div>
		<%= image_tag('ff-mobile-q-8.png') %>
	</div>
	<div class="six columns step-question l-center l-vert-pad-step mobile-hide">
		<%= image_tag('fitfinder-step-8.png') %>
	</div>
	<div class="eight columns l-center ">
		<form class="step-form radio-bg radio-bg-horz radio-bg-horz-3 radio-bg-horz-margin clearfix">
			<div class="radio-label radio-label-g2 two columns omega" data-button="radio-1">Less than 6 months</div>
			<input id="radio-1" name="1" type="radio" data-img="a" data-band="0" data-cup="0" checked data-option="A">
			<input id="radio-2" name="1" type="radio" data-img="b" data-band="0" data-cup="0" data-option="B">
			<div class="radio-label radio-label-p1 four columns alpha omega" data-button="radio-2">6 months to a year</div>
			<input id="radio-3" name="1" type="radio" data-img="c" data-band="0" data-cup="0" data-option="C">
			<div class="radio-label radio-label-p3 two columns alpha" data-button="radio-3">Older than a year</div>
		
			<button class="button step-submit" type="submit">Next<div class="button-tag button-tag-right button-tag-pink"></div></button>
		</form>
	</div>
	<div class="l-full clearfix fit-tip">
		<div class="alpha seven columns l-center">
			<%= image_tag('fit-tip.png') %>
			<p>You should get fitted for a bra at least twice a year. Your everyday basic bras are the most important to renew each year. The best way to make your bra last longer is to hand wash them every 2-3 wears with a gentle detergent and have at least 4-6 bras in your rotation, so you’re not wearing the same one everyday.</p>
		</div>
	</div>
	<a class="button step-back" href="#"><div class="button-tag button-tag-right button-tag-green"></div>Prev</a>
	</div>
</div>