// -------------------------------------
//
//   Flash Messages -
//   Styles for the Flash Messages
//
// -------------------------------------


// -------------------------------------
//   Modules
// -------------------------------------
.flash {
	text-align: center;
	margin-bottom: 0;
}

// -------------------------------------
//   Submodules
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------
.flash.alert{
	background: $pink;
}
.flash.success,.flash.notice{
	background: $green;
}