// -------------------------------------
//
//   Order Module -
//   Styles for the Order Module
//
// -------------------------------------


// -------------------------------------
//   Modules
// -------------------------------------
.order {
	margin-top: 30px;
	.order-details {
		li {
			font-family: $Jaf;
			margin-bottom: 10px;
		}
		li > label {
			color: $green;
			text-transform: uppercase;
		}
		a {
			text-decoration: underline;
		}
		
	}
	.order-status {
		margin-bottom: 20px;
	}
	.order-detail-total {
		margin-bottom: 10px;
		li > label {
			color: $lightgrey;
			display: inline-block;
			font-family: $Trocchi;
			font-size: 12px;
			width: 40%;
			text-align: right;
			text-transform: none;
			margin-right: 5px;
		}
		li > span {
			color: $black;
			font-family: $Jaf;
			&.total-pink {
				color: $pink;
			}
		}
	}
	.options {
		margin-bottom: 20px;
		img, .option-values {
			float: left;
		}
		img {
			margin-right: 20px;
		}
	}
	.order-line-item {
		span {
			font-family: $Din;
			font-size: 18px;
		}
		.button {
			margin-bottom: 10px;
		}
	}

}

// -------------------------------------
//   Submodules
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------
