// -------------------------------------
//
//   Similar Products Module -
//   Styles for the Similar Products Module
//
// -------------------------------------


// -------------------------------------
//   Modules
// -------------------------------------
.similar-products {
	margin-top: 20px;
	@include border-radius(5px);
	overflow: hidden;

	.content-header {
		font-size: 14px;
	}
}

// -------------------------------------
//   Submodules
// -------------------------------------


// -------------------------------------
//   States
// -------------------------------------
