// -------------------------------------
//
//   Layout -
//   Margin, Padding, Sizing
//
// -------------------------------------

.l-full{
	width:100%;
}
.container .l-center{
	display: block;
	float: none;
	margin: 0 auto;
}
.l-one-thirds {
	float: left;
	width: 29%;
	margin: 0 2%;
}
.l-two-thirds {
	float: left;
	width: 66%;
}
.l-vert-pad {
	padding: 110px 0 50px 0;
}
.l-vert-pad-step {
	padding: 130px 0 0 0;
}
.l-bottom-margin{
	margin-bottom: 20px;
}
.l-sidebar-item{
	display: block;
	margin-bottom: 20px;
}
.l-column {
	float: left;
}
.l-column-full {
	width: 97%;
	margin: 0 1.5%;
}
.l-column-half {
	width: 47%;
	margin: 0 1.5%;
}
.l-column-third {
	width: 30%;
	margin: 0 1.5%;
}
.l-column-two-third {
	width: 60%;
	margin: 0 1.5%;
}

.l-column-quarter {
	width: 23%;
	margin: 0 1%;

}
.l-center-inline {
	text-align: center;
}
.l-indent{
	margin-left:70px;
}
.mobile-rice{
	background: url(/assets/bg-rice-paper.jpg) repeat;
}
.l-product-detail {
	min-height: 750px;
}
// -------------------------------------
//   Containers
// -------------------------------------



// -------------------------------------
//   Utilities
// -------------------------------------

// -------------------------------------
//   States
// -------------------------------------
@media only screen and (max-width: 959px) {	
	.l-product-detail {
		min-height: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.l-column-half, .l-column-quarter{
		width:100%;
	}
	.l-mobile-bot-marg {
		margin-bottom: 20px !important;
	}
	.l-indent{
		margin-left:0px;
	}
}